*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

body {
  background-color: blanchedalmond;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  text-align: right;
  width: 5%;
}
/*--------------------------*/
.accordion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 200px 20px;
  border: 2px solid  rgb(167, 167, 167);
  border-radius: 20px;
}

.accordion-item {
  display: block;
}

span {
  visibility: hidden;
  text-align: right;
}

.accordion:hover span {
  visibility: visible;
  color: rgb(112, 22, 196);
}

.meme {
    display: none;
    transition: display 0.5s ease-out;

}

.label {
  display: inline-block;
  padding: 20px;
  width: 95%;
  cursor: pointer;
  color: black;
  transition: color 0.2s ease-out;

  border-bottom: 1px solid rgb(167, 167, 167);
  text-align: justify;
}

.label:hover {
  color: rgb(112, 22, 196);
}

.input {
  width: 0;
  height: 0;
  appearance: none;
}

.input:checked ~ .meme {
  display: block;
  width: 25rem;


}

.input:checked ~ .material-symbols-outlined {
  transform: rotateX("45");
}


